Repository gbrayhan/microservices-go: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "**/*.go"
      run: go fmt ./...

    go-imports:
      glob: "**/*.go"
      run: goimports -w .

    go-mod-tidy:
      run: go mod tidy -v


    go-build:
      run: go build ./...

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --timeout=3m --out-format=colored-line-number

    staticcheck:
      glob: "**/*.go"
      run: staticcheck ./...

    go-vet:
      glob: "**/*.go"
      run: go vet ./...

    unit-tests:
      glob: "**/*_test.go"
      run: go test -count=1 -timeout=30s ./...

    trivy-scan:
      run: trivy fs . --scanners vuln,misconfig,secret --exit-code 1 --skip-dirs .git,vendor --quiet

adding formatted changes
  src/application/usecases/auth/auth.go
  src/application/usecases/auth/auth_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

adding information microservices
  lefthook.yml
Due: none

adding elements for integration test
  Test/integration/features/login.feature
  Test/integration/run-integration-test.bash
  Test/integration/steps.go
  docker-compose.yml
  env.example
  src/infrastructure/repository/auth_service.go
  src/infrastructure/repository/initDB.go
  src/infrastructure/repository/models.go
  src/infrastructure/repository/repository.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

adding integration test
  .gitignore
  Test/integration/run-integration-test.bash
  coverage.sh
  src/domain/errors/Errors_test.go
  src/infrastructure/repository/initDB_test.go
  src/infrastructure/repository/utils/Utils_test.go
  src/infrastructure/rest/adapter/auth_test.go
  src/infrastructure/rest/adapter/medicine_test.go
  src/infrastructure/rest/adapter/user_test.go
  src/infrastructure/rest/controllers/auth/Auth_test.go
  src/infrastructure/rest/controllers/medicine/Medicines_test.go
  src/infrastructure/rest/middlewares/Headers_test.go
  src/infrastructure/rest/middlewares/Interceptor_test.go
  src/infrastructure/rest/middlewares/errorHandler_test.go
  src/infrastructure/security/jwt_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

rename dependency injections
  .gitignore
  README_CLEAN_ARCHITECTURE.md
  env.example
  main.go
  src/application/usecases/auth/auth.go
  src/application/usecases/auth/auth_test.go
  src/infrastructure/config/config.go
  src/infrastructure/di/ApplicationContext.go
  src/infrastructure/repository/repository.go
  src/infrastructure/rest/adapter/auth.go
  src/infrastructure/rest/adapter/auth_test.go
  src/infrastructure/rest/adapter/medicine.go
  src/infrastructure/rest/adapter/medicine_test.go
  src/infrastructure/rest/adapter/user.go
  src/infrastructure/rest/adapter/user_test.go
  src/infrastructure/rest/routes/routes.go
  src/infrastructure/security/jwt_service.go
  test-coverage.sh
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

adding jwt service
  src/infrastructure/security/jwt.go
  src/infrastructure/security/jwt_service.go
  src/infrastructure/security/jwt_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

Refactoring entities
  go.mod
  go.sum
  src/application/interfaces.go
  src/application/usecases/auth/auth.go
  src/application/usecases/medicine/medicine.go
  src/application/usecases/user/user.go
  src/domain/medicine/medicine_test.go
  src/domain/user/user_test.go
  src/infrastructure/config/config_test.go
  src/infrastructure/di/application_context.go
  src/infrastructure/di/application_context_test.go
  src/infrastructure/interfaces.go
  src/infrastructure/repository/interfaces.go
  src/infrastructure/repository/medicine/medicine.go
  src/infrastructure/repository/user/user.go
  src/infrastructure/repository/user/user_test.go
  src/infrastructure/rest/interfaces.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

removing unecesary files
  show-content.bash
  test-coverage.sh
Due: none

removing unecesary files
  docs/README_CLEAN_ARCHITECTURE.md
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

refactoring
  go.mod
  go.sum
  src/application/usecases/auth/auth.go
  src/application/usecases/auth/auth_test.go
  src/application/usecases/medicine/medicine.go
  src/application/usecases/user/user.go
  src/domain/errors/Errors.go
  src/domain/errors/Errors_test.go
  src/infrastructure/repository/psql/psql_repository.go
  src/infrastructure/rest/controllers/auth/Auth.go
  src/infrastructure/rest/controllers/auth/Auth_test.go
  src/infrastructure/rest/controllers/auth/Structures.go
  src/infrastructure/rest/middlewares/errorHandler.go
  src/infrastructure/rest/routes/routes.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

increase code coverage
  go.mod
  go.sum
  src/domain/errors/Errors_test.go
  src/infrastructure/di/application_context_test.go
  src/infrastructure/repository/psql/medicine/medicine_test.go
  src/infrastructure/repository/psql/user/user_test.go
  src/infrastructure/rest/controllers/BindTools_test.go
  src/infrastructure/rest/controllers/user/User_test.go
  src/infrastructure/rest/middlewares/RequiresLogin_test.go
  src/infrastructure/security/jwt_service.go
  src/infrastructure/security/jwt_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

adding logger
  go.mod
  go.sum
  main.go
  src/application/usecases/auth/auth.go
  src/application/usecases/auth/auth_test.go
  src/application/usecases/medicine/medicine.go
  src/application/usecases/medicine/medicine_test.go
  src/application/usecases/user/user.go
  src/application/usecases/user/user_test.go
  src/infrastructure/di/application_context.go
  src/infrastructure/di/application_context_test.go
  src/infrastructure/logger/logger.go
  src/infrastructure/repository/psql/medicine/medicine.go
  src/infrastructure/repository/psql/medicine/medicine_test.go
  src/infrastructure/repository/psql/psql_repository.go
  src/infrastructure/repository/psql/user/user.go
  src/infrastructure/repository/psql/user/user_test.go
  src/infrastructure/rest/controllers/auth/Auth.go
  src/infrastructure/rest/controllers/auth/Auth_test.go
  src/infrastructure/rest/controllers/medicine/Medicines.go
  src/infrastructure/rest/controllers/medicine/Medicines_test.go
  src/infrastructure/rest/controllers/user/User.go
  src/infrastructure/rest/controllers/user/User_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

ok
  .env.example
  docker-compose.yml
  env.example
  main.go
  src/infrastructure/di/application_context_test.go
  src/infrastructure/logger/logger.go
  src/infrastructure/repository/psql/psql_repository.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

adjust logger
  Dockerfile
  Test/integration/run-integration-test.bash
Due: none

clean env vars
  .env.example
  .env.local
  Test/integration/run-integration-test.bash
  src/infrastructure/repository/psql/psql_repository.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

removing unecesary methods
  docs/README_CLEAN_ARCHITECTURE.md
  src/application/usecases/auth/auth.go
  src/application/usecases/auth/auth_test.go
  src/application/usecases/medicine/medicine.go
  src/application/usecases/medicine/medicine_test.go
  src/application/usecases/user/user.go
  src/application/usecases/user/user_test.go
  src/domain/medicine/Medicine.go
  src/domain/user/user.go
  src/infrastructure/di/application_context_test.go
  src/infrastructure/repository/psql/medicine/medicine.go
  src/infrastructure/repository/psql/medicine/medicine_test.go
  src/infrastructure/repository/psql/user/user.go
  src/infrastructure/repository/psql/user/user_test.go
  src/infrastructure/rest/controllers/medicine/Medicines.go
  src/infrastructure/rest/routes/medicine.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

adding new functional methods
  docs/SEARCH_ENDPOINTS.md
  src/application/usecases/auth/auth_test.go
  src/application/usecases/medicine/medicine.go
  src/application/usecases/medicine/medicine_test.go
  src/application/usecases/user/user.go
  src/application/usecases/user/user_test.go
  src/domain/Types.go
  src/domain/medicine/Medicine.go
  src/domain/user/user.go
  src/infrastructure/di/application_context_test.go
  src/infrastructure/repository/psql/medicine/medicine.go
  src/infrastructure/repository/psql/user/user.go
  src/infrastructure/rest/controllers/medicine/Medicines.go
  src/infrastructure/rest/controllers/medicine/Medicines_test.go
  src/infrastructure/rest/controllers/user/User.go
  src/infrastructure/rest/controllers/user/User_test.go
  src/infrastructure/rest/routes/medicine.go
  src/infrastructure/rest/routes/user.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

improve documentation
  README.md
  Test/integration/run-integration-test.bash
  coverage.sh
  docs/API_DOCUMENTATION.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README.md
  docs/README_CLEAN_ARCHITECTURE.md
  docs/SEARCH_ENDPOINTS.md
Due: none

fix integration test env vars
  .env.example
  .env.local
  Test/integration/run-integration-test.bash
  src/infrastructure/rest/routes/routes.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

add integration test
  Test/integration/README.md
  Test/integration/features/auth.feature
  Test/integration/features/device-info.feature
  Test/integration/features/icd-cie.feature
  Test/integration/features/login.feature
  Test/integration/features/medicine.feature
  Test/integration/features/users.feature
  Test/integration/main_test.go
  Test/integration/run-integration-test.bash
  Test/integration/steps.go
  coverage.sh
  scripts/run-integration-test.bash
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

add integration test
  go.mod
  go.sum
Due: none

Update integration tests for new API routes
  Test/integration/features/auth.feature
  Test/integration/features/device-info.feature
  Test/integration/features/icd-cie.feature
  Test/integration/features/medicine.feature
  Test/integration/features/users.feature
  Test/integration/steps.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

fix docker compose
  docker-compose.yml
Due: none

fix integration test resource cleanup
  Test/integration/steps.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

fix user update mapping
  src/infrastructure/repository/psql/user/user.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

ignore file
  .gitignore
Due: none

Add step for medicine ID numeric response
  Test/integration/steps.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

Fix medicine endpoint responses
  src/infrastructure/rest/controllers/medicine/Medicines.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

fix auth error codes
  src/application/usecases/auth/auth.go
  src/infrastructure/security/jwt_service.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet

fix auth tests
  Test/integration/features/auth.feature
  src/application/usecases/auth/auth_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

fix all test
  README.md
  docs/DEPLOYMENT_GUIDE.md
  src/infrastructure/rest/middlewares/RequiresLogin.go
  src/infrastructure/rest/middlewares/RequiresLogin_test.go
  src/infrastructure/security/jwt_service.go
  src/infrastructure/security/jwt_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

chore: translate spanish comments
  src/application/usecases/user/user_test.go
  src/infrastructure/logger/logger.go
  src/infrastructure/repository/psql/user/user_test.go
  src/infrastructure/security/jwt_test.go
Due: gofmt, go-imports, golangci-lint, staticcheck, go-vet, unit-tests

fix: update integration script path in docs
  README.md
  docs/API_DOCUMENTATION.md
  docs/README.md
Due: none
